:root {
    --blue: #0064FF;
    --red: #FF0032;
    --green: #00B428;
    --yellow: #FFC800;
    --purple: #7900DC;
    --black: #000000;
    --white: #FFFFFF;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Text Colors */

.color-blue {
    color: var(--blue);
}

.color-red {
    color: var(--red);
}

.color-green {
    color: var(--green);
}

.color-yellow {
    color: var(--yellow);
}

.color-purple {
    color: var(--purple);
}

.color-black {
    color: var(--black);
}

.color-white {
    color: var(--white);
}

/* Text Align */

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* Text Decoration */

.td-dashed {
    text-decoration: dashed;
}

.td-dotted {
    text-decoration: dotted;
}

.td-double {
    text-decoration: double;
}

.td-line-through {
    text-decoration: line-through;
}

.td-overline {
    text-decoration: overline;
}

.td-solid {
    text-decoration: solid;
}

.td-underline {
    text-decoration: underline;
}

.td-wavy {
    text-decoration: wavy;
}

/* Font Weight */

.fw-bold {
    font-weight: bold;
}

.fw-bolder {
    font-weight: bolder;
}

.fw-lighter {
    font-weight: lighter;
}

/* Buttons */

.btn {
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-blue {
    background-color: var(--blue);
    color: var(--white);
}

.btn-green {
    background-color: var(--green);
    color: var(--white);
}

.btn-red {
    background-color: var(--red);
    color: var(--white);
}

.btn-yellow {
    background-color: var(--yellow);
    color: var(--white);
}

.btn-purple {
    background-color: var(--purple);
    color: var(--white);
}

.btn-black {
    background-color: var(--black);
    color: var(--white);
}

.btn-white {
    background-color: var(--white);
    color: var(--black);
}
